<body style="background-color:#ccccb3;">
<form action="#" method="POST">
Title: <input type="text" name="title"><br>
  Year: <input type="number" name="year"><br>
    Rating:  <input input type="number" step="0.1" name="rating"" /><br>
{#    Director:  <input input type="text" name="director"><br>#}
{#    Screenplay:  <input input type="text" name="screenplay"><br>#}
{#    Staring:  <input input type="text" name="staring"><br>#}
{#    Genre:  <input input type="text" name="genre"><br>#}
   <input type="submit">
    </form>